.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}

.sweet-modal.theme-dark {
  background-color: #273544
}

.sweet-modal-overlay.theme-dark {
  background: rgba(47, 61, 74, 0.75);
}

.sweet-title h2 {
  top: 35%;
  position: relative;
}

.form-control {
  background-color: #1c2a38;
}

.sweet-buttons {
  position: relative !important;
}

body {
  height: 100%;
}

html {
  height: 100%
}

.btn-success {
  background-image: linear-gradient(to bottom left, #32d47d, #00f2c3, #32d47d) !important
}

.stocksModal .sweet-content-content {
  overflow: hidden
}

.stocksModal .card-body {
  overflow: scroll
}

.card-body-color {
  background-color: #2b3b4c
}

.label-content-color {
  color: #fff !important
}

.label-content-size {
  font-size: 10px
}

.label-content-style {
  font-style: italic;
}

.label-title-content {
  font-size: 11px !important;
  color:rgba(255, 255, 255, 0.6) !important;
}

.div-content-align {
  text-align: left
}

.list-group-item {
  padding: 0.5rem;
  background-color: #1c2a38;
  border-color: #2b3553;
  color: white;
}

.list-group-item:focus {
  padding: 0.5rem;
  background-color: #1c2a38;
  border-color: #2b3553;
  color: white;
}

.input-group .form-control {
  border: 1px solid #2b3553 !important;
}

.input-group .form-control:focus {
  border: 1px solid #e14eca !important;
}

.add-customer {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px
}

.add-customer:hover {
  cursor: pointer;
}

.add-customer-label {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}

.color-grey {
  color: rgba(178, 178, 178, 0.8) !important;
}

.input-calendar-color {
  background: #1c2a38 !important;
  color: #c8cbce !important;
  cursor: pointer !important;
}

.vdp-datepicker__calendar {
  position: absolute;
  z-index: 100;
  background: #1d253b;
  width: 300px;
  border: 1px solid #2b3354;
  color: #b5b9be;
}

.vdp-datepicker__calendar header .prev:not(.disabled):hover, .vdp-datepicker__calendar header .next:not(.disabled):hover, .vdp-datepicker__calendar header .up:not(.disabled):hover {
  background: #2b3354;
}

